.container4{
    background-image: url("./gtbankOffice.jpg");
    background-size: cover;
    margin-top: 20px;
    border-radius: 10%;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    /* border: 1px solid orangered; */
    display: flex;
    justify-content: center;
    position: relative;
    height: 615px;
    box-shadow:  2px 2px 5px 1px #000;
    
}

.subcontainer{
    width: 100%;
    z-index: 1;
}

input:focus, 
button:focus,
select:focus{
    outline: none;
}

.Vattention{
    padding-top: 50px;
    /* padding-left: 14%; */
    text-align: center;
    color: white;
    font-size: 22px;
    line-height: 25px;  
    font-weight: 400;
    /* font-style: oblique; */
}
.Vdetails{
    padding-top: 25px;
    padding-left: 14%;
    color: whitesmoke;
}

.overlay{
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.6;
    position: absolute;
    border-radius: 10%;
}


.verify{
    color: whitesmoke;
    width: 80%;
    border-top-style: solid;
    border-left-style: solid;
    margin-left: 10%;
    margin-right: 10%;
    height: 50px;
    border-width: 2px;
    border-radius: 100px;
    border-color: #E04406;
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 30px;
    background-color: rgba(23, 14, 11, 0.4);
}

.Vstart{
    color: whitesmoke;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 50px;
    border-radius: 100px;
    border: none;
    background-color: #E04406;
    font-size: 15px;
    margin-top: 110px;
    margin-bottom: 45px;
    text-align: center;
    /* background-color: rgba(23, 14, 11, 0.4); */
}


@media(min-width: 280px) {
    .container4{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 8.5vh;
        height: 82vh;
    }  
    .Vattention {
        font-size: 19px;
    }
    .Vdetails {
        font-size: 14px;
    }
    .Vstart {
        margin-top: 45px;
    }
   
   
   }

   @media(max-width: 280px) {
    .container4{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 8.5vh;
        height: 82vh;
    } 
    
    .Vattention {
        font-size: 19px;
    }
    .Vdetails {
        font-size: 12px;
    }
    .Vstart {
        margin-top: 45px;
    }
   
   
   }


@media(min-width: 320px) {
    .container4{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5vh;
        height: 90vh;
    } 
    .Vattention {
        font-size: 20px;
    }
    .Vdetails {
        font-size: 14px;
    }
    .Vstart {
        margin-top: 45px;
    }
    
   }

   @media(min-width: 321px) {
    .container4{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5vh;
        height: 615px;
    }  

    .Vattention {
        font-size: 22px;
    }
    .Vdetails {
        font-size: 16px;
    }
    .Vstart {
        margin-top: 110px;
    }
   
   
   }


@media(min-width: 360px){
    .container4{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 1.5vh;
    }  
   
   }


@media(min-width: 375px) {
    .container4{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5vh;
    } 
    
   }

@media(min-width: 411px) {
    .container4{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 11vh;
    }    
   }


@media(min-width: 414px) {
    .container4{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 8.5vh;
    }    
   }
   
@media(min-width: 450px) {
    .container4{
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 8.5vh;
    }    
   }


   
@media(min-width: 540px) {
    .container4{
        width: 65%;
        margin-left: 17.5%;
        margin-right: 17.5%;
        margin-top: 8vh;
    }    
   }  

@media(min-width: 640px) {
    .container4{
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 8.5vh;
    }    
   }

@media(min-width: 705px) {
    .container4{
        width: 55%;
        margin-left: 22.5%;
        margin-right: 22.5%;
        margin-top: 8.5vh;
    }    
   }

@media(min-width: 768px) {
    .container4{
        

        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 20vh;
        
       
    }    
   }

@media(min-width: 880px) {
    .container4{
        

        width: 44%;
        margin-left: 28%;
        margin-right: 28%;
        margin-top: 20vh;
        
       
    }    
   }
   

   @media(min-width: 1024px){
    .container4{
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
        margin-top: 24.5vh;
        margin-bottom: 10vh;
       
    }    
   }


   @media(min-width: 1025px){
    .container4{
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
        margin-top: 10vh;
        /* margin-bottom: 10vh; */
       
    }    
   }

   @media(min-width: 1140px){
    .container4{
        width: 35%;
        margin-left: 32.5%;
        margin-right: 32.5%;
        margin-top: 5vh;
        margin-bottom: 5vh;
       
    }    
   }

   @media(min-width: 1380px){
    .container4{
        width: 30%;
        margin-left: 35%;
        margin-right: 35%;
        margin-top: 10vh;
        /* margin-bottom: 10vh; */
       
    }    
   }

   @media(min-width: 1580px){
    .container3{
        width: 25%;
        margin-left: 37.5%;
        margin-right: 37.5%;
        margin-top: 10vh;
        /* margin-bottom: 10vh; */
       
    }    
   }
